.container{
    border: 2px solid black; 
    padding: 10px;
    border-radius: 10px;
    background-color: lightyellow;
    width: fit-content;
    margin: 10px auto;
    text-align: center;
}

#heading{
    color: darkolivegreen;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}

.image{
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 1px;
}

.details{
    color: blue;
    line-height: 1.4;
}

.children{
    line-height: 0.3;
    padding: 0;
    margin: 10px;
    background-color: lightgrey;
    border: 1px solid red;
    border-radius: 15px;
    
}